@import url("https://fonts.googleapis.com/css?family=Ubuntu:700");
body {
  min-width: 500px; }

.navigation a {
  color: #F83A4B;
  font-size: 14px;
  letter-spacing: 2px; }

#contact-btn {
  color: #fff;
  border-bottom: none;
  background-color: #17ab9d;
  font-size: 16px;
  padding: 10px 25px;
  transition: all .3s; }

li a#contact-btn:hover {
  background-color: #00899f;
  -webkit-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.75); }

.btn {
  background-color: #F83A4B; }

.btn:hover, .btn:focus {
  background-color: #F83A4B; }

#header.fixed {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); }

#header.fixed .header-content {
  position: relative; }

.feature .icon {
  color: #F83A4B;
  font-size: 60px; }

.navigation a:hover, .navigation a.active {
  color: #F83A4B;
  border-bottom: 3px solid; }

.footer-top {
  background-color: #17ab9d; }

.footer-bottom {
  background-color: #117e74; }

.work .overlay.overlay-green {
  background: rgba(23, 171, 157, 0.9); }

.social-icons a:hover, .footer .footer-share a:hover {
  background-color: #f8c215;
  border-color: #f8c215;
  color: #fff; }

.yellow-back {
  background-color: #f8c215; }

.green-back {
  background-color: #17ab9d; }

.red-back {
  background-color: #F83A4B; }

.flex-control-nav {
  width: 50%;
  position: absolute;
  bottom: 5px;
  right: 0;
  z-index: 100;
  text-align: inherit; }

.testimonials blockquote {
  border: 0;
  margin: 0;
  padding: 100px 15%; }

.testimonials {
  background-color: transparent; }

/* centre nav
.navigation {
    text-align: center;
    float: none;
}*/
.container-fluid {
  margin-bottom: 5em; }

.no-margin {
  margin: 0; }

.section-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 6em;
  color: #515151;
  margin-bottom: 4%;
  font-family: 'Ubuntu', sans-serif; }

@media screen and (max-width: 991px) {
  .section-heading {
    font-size: 4em; } }
.border-row {
  padding: 15px; }
  .border-row.red-left {
    border-bottom: 6px solid #F83A4B;
    border-top: 6px solid #F83A4B;
    border-left: 6px solid #F83A4B; }
  .border-row.green-right {
    border-bottom: 6px solid #17ab9d;
    border-top: 6px solid #17ab9d;
    border-right: 6px solid #17ab9d; }
  .border-row.yellow-left {
    border-bottom: 6px solid #f8c215;
    border-top: 6px solid #f8c215;
    border-left: 6px solid #f8c215; }

.midalign-heading-left {
  position: absolute;
  bottom: 0;
  transform: rotate(-90deg);
  transform-origin: 0% 100% 0; }
  .midalign-heading-left > h2 {
    line-height: 84px;
    margin: 0; }

.midalign-heading-right {
  position: absolute;
  top: 0;
  left: 99px;
  transform: rotate(90deg);
  transform-origin: 0% 0% 0; }
  .midalign-heading-right > h2 {
    line-height: 84px;
    margin: 0; }

.person h5 {
  color: #f8c215;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 1px; }

.social-icons a {
  border: 1px solid #515151;
  color: #515151; }

.form-control:focus {
  outline: none !important;
  border-color: #F83A4B;
  box-shadow: 0 0 10px #F83A4B; }

.download .btn {
  font-size: 1.75em; }

.no-top-padding {
  padding-top: 0; }

.half-bottom-padding {
  padding-top: 0;
  padding-bottom: 50px; }

.wrapper {
  padding: 0 8%;
  text-align: center; }

.banner-title > p {
  font-size: 4em;
  line-height: inherit;
  color: #515151;
  font-family: 'Raleway', sans-serif;
  text-align: center; }

.banner-title {
  padding-right: 10%;
  animation: fade-in 1s ease-in 2s both; }

.keyword {
  color: #F83A4B;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif; }

.left-slide {
  transform: translateX(-100%); }

.come-in-left {
  animation: come-in-left 3s ease forwards; }

@keyframes come-in-left {
  to {
    transform: translateX(0%); } }
.right-slide {
  transform: translateX(100%); }

.come-in-right {
  animation: come-in-left 2s ease forwards; }

@keyframes come-in-right {
  to {
    transform: translateX(0%); } }
section {
  overflow-x: hidden; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.svg-col {
  animation: move-to-left 3s linear both; }

@keyframes move-to-left {
  0%, 50% {
    transform: translateX(60%); }
  100% {
    transform: translateX(0%); } }

/*# sourceMappingURL=jelly.css.map */
